.terms{
	margin-top:1.2rem;
}
section h4{
	font-family: "Montserrat", sans-serif;
	margin-bottom: 1.2rem;
	font-size: 0.9rem;
}

section p{
	font-family: "Roboto", sans-serif;
	font-size: 0.9rem;
	margin-bottom: 1.2rem;
}

section ul li {
	font-size: 0.9rem;
} 