.addAcct{
	padding: 1rem;
}

.addAcct form{
	display: flex;
	align-items: center;
}

.addAcct form input, .addAcct form select{
	padding: 0.6rem 1.1rem;
	margin-right: 0.3rem;
}

.addAcct form button{
	padding: 0.6rem 1.1rem;
	color:#fff;
	background: var(--primaryColor);
	border: none;
	cursor: pointer;
}

.addAcct form button:hover{
	color:var(--primaryColor);
	background: #fff;
}

.addAcct p{
	color: red;
}

.tableWrapper {
    align-items: center;
    padding: 0.8rem;
    margin: 2rem 0;
    width: 100%;
    overflow-x: auto;
}

.tableWrapper table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    min-width: 600px;
    text-align: center;
    box-shadow: var(--shadow);
}

.tableWrapper td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 14px;
    text-align: center;
}

.tableWrapper tr:nth-child(even) {
    background-color: #dddddd;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: .9rem 1.4rem;
    background: var(--primaryColor);
    color: var(--mainWhite);
    outline: none;
    border: none;
}

.btn:hover,
.btn:focus {
    background: var(--primaryColor);
    opacity: 0.8;
}


@media (max-width: 768px) {

    .btn {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 500px){
	.addAcct form{
		flex-direction: column;
	}

	.btn {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}