.footer{
	width:100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.footer ul{
	display:flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

.footer ul li {
	margin-right: 0.9rem;
}

.footer ul li a{
	font-size: 0.9rem;
	font-weight: bold;
	color:var(--mainYellow);
	text-decoration: none;
}

.footer ul li a:hover{
	color:#000000;
}