.container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    background-image: linear-gradient(to left, var(--primaryColor), var(--mainYellow));
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: var(--darkShadow);
    border-radius: 10px;
    color: #000000;
    font-weight: bold;
}

.formHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form {
    width: 100%;
    padding: 2rem;
}

.form .formControl {
    display: flex;
    flex-direction: column;
}

.formControl p {
    color: #b70000;
}

.form input,
.form select {
    flex: 1;
    padding: 0.8rem;
    margin-bottom: 1rem;
}

.formActions button {
    width: 100%;
    margin-top: 0.8rem;
    padding: 0.6rem 1.2rem;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ease-in 1s;
}

.formActions button:hover,
.formActions button:focus {
    background: var(--skyBlue);
    border: 1px solid var(--mainWhite);
    color: var(--primaryColor);
}


.textBox{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}


@media (max-width: 520px){
        .form{
            padding:0.5rem;
    }
}